doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name='apple-mobile-web-app-status-bar-style' content='black')
        title My Vinyl
        link(rel='stylesheet', href='main.css')
    body
        main
            include components/vinyl-list.pug
            include components/search.pug
            include components/wishlist.pug
            include components/inactive-list.pug
        include components/nav-bottom.pug
        div.close-artwork
            svg.close-icon(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
                path(d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z')
                path(d='M0 0h24v24H0z', fill='none')            
        footer
            script(src='main.js')