.list-item {
    border-bottom: 1px solid $color-gray-b;
    color: $color-list-item;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin: 0;
    transition: 0.1s linear;
    min-height: 80px;
    padding: 12px 80px 12px 16px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:nth-child(odd) {
        background:#f1f1f1;
    }

    .artist-name {
        display: block;
        width: 100%;
    }

    .record-name {
        display: block;
        width: 100%;
        font-weight: 400;
        color: #565656;
    }

    .vinyl-artwork {
        border-radius: 2px;
        width: 48px;
        height: 48px;
        position: absolute;
        right: 16px;
        top: 16px;
        z-index: 1;
    }

    &.js-artwork-active {
        .vinyl-artwork {
            border-radius: 0;
            box-shadow: 2px 4px 6px rgba(0,0,0,.2);
            height: 300px;
            width: 300px;
            z-index: 2;
            position: fixed;
            right: 50%;
            transform: translate(50%, -50%);
            top: 50%;
            z-index: 8;
        }
    }

    &.inactive {
        &:before {
            background-image: url(../img/icon-block-white.svg);
            content: '';
            position: absolute;
            right: 28px;
            top: 50%;
            transform: translateY(-50%);
            opacity: .9;
            pointer-events: none;
            width: 24px;
            height: 24px;
            z-index: 2;
        }             
    }
}

.close-artwork {
    background: rgba(0,0,0,.66);
    opacity: 0;
    position: fixed;
    top: 160px;
    right: 43px;
    z-index: 6;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: .25s ease-in-out;

    .close-icon {
        height: 48px;
        width: 48px;
        fill: white;
        pointer-events: none;
        position: absolute;
        right: calc(50% - 173px);
        top: calc(50% - 200px);
    }
}

.js-body-artwork {
    .close-artwork {
        opacity: 1;
        visibility: visible;

        .close-icon {
            pointer-events: auto;
        }
    }
}