.nav-bottom {
    bottom: 0;
    border-top: 1px solid #eaeaea;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 4;

    .nav-bottom {
        &-list {
            display: flex;
            flex-wrap: nowrap;
            font-size: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        &-item {
            margin: 0;
            padding: 0;
            font-size: 0;
            display: inline-block;
            width: 25%;

            &:last-child {
                border-right: 0;

                &:before {
                    display: none;
                }
            }
        }

        &-link {
            background: white;
            color: #333333;
            display: block;
            font-size: 14px;
            font-weight: 400;
            height: 100%;
            letter-spacing: .33px;
            line-height: 14px;
            padding: 17px 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: .15s ease-in;

            &.active {            
                background: var(--color-main-theme);
                color: white;
                pointer-events: none;
            }

            &.js-scroll-to-top-link {
                position: relative;

                svg {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 28px;
                    height: 28px;
                    fill: var(--color-main-theme);
                }
            }
        }
    }
}