.search-component {
    display: none;
    position: relative;

    .search-header {
        background: white;
        border-bottom: 1px solid #eaeaea;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .list-counter {
        color: var(--color-main-theme);
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        right: 16px;
        top: 26px;
    }

    .js-search-results-counter {
        margin-right: 6px;
    }

    .searchbar {
        margin: 16px;
        position: relative;
    }

    .searchbar-input {
        -webkit-appearance: none;
        font-family: "Roboto", sans-serif, sans-serif;
        width: 100%;
        box-shadow: none;
        height: 48px;
        border-radius: 4px;
        font-size: 16px;
        padding: 7px 16px 8px 10px;
        outline: none;
        border: 1px solid #dedede;

        &::placeholder {
            transition: .1s linear;
            color: rgb(177, 177, 177);
        }

        &:focus {
            ~ .icon-search {
                opacity: 0;
                pointer-events: none;
            }

            &::placeholder {
                opacity: 0;
                transition: .1s linear;
            }

            ~ .js-reset-input {
                opacity: .33;
                visibility: visible;
            }
        }
    }

    .icon-search {
        fill: rgb(177, 177, 177);
        width: 28px;
        height: 28px;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    .js-reset-input {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--color-main-theme);
        transition: .25s ease;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;

        .icon-x {
            width: 16px;
            height: 16px;
            fill: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .search-results {
        h2 {
            color: white;
        }
    }

    .search-results-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}