.vinyl-list-component {
    display: none;
    position: relative;

    .vinyl-list-header {
        background: white;
        border-bottom: 1px solid #eaeaea;
        height: 72px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .logo-MyVinyl {
        display: inline-block;
        position: relative;
        top: 13px;
        left: 16px;

        svg {
            color: var(--color-main-theme);
            height: 48px;
            width: 120px;
        }
    }

    .list-counter {
        color: var(--color-main-theme);
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        right: 16px;
        top: 26px;
    }

    .js-vinyl-list-counter {
        margin-right: 6px;
    }

    .vinyl-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}