.wishlist-component {
    display: none;
    position: relative;

    .wishlist-header {
        background: white;
        border-bottom: 1px solid #eaeaea;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .list-counter {
        color: var(--color-main-theme);
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        right: 16px;
        top: 26px;
    }

    .js-wishlist-counter {
        margin-right: 6px;
    }

    .wishlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}