mixin listItem(props = {})
    - const { inactiveItem = false, artistName, recordName, artworkImage } = props
    li.list-item(class = inactiveItem ? 'inactive' : '')
        div.list-item-content
            span.artist-name= artistName
            span.record-name= recordName
            img.vinyl-artwork(src= artworkImage)