a(href="#").logo-MyVinyl
    svg(viewBox='0 0 168 67', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#Page-1(stroke='none', stroke-width='1', fill='currentColor', fill-rule='evenodd')
            g(transform='translate(-275, -30)', fill='currentColor')
                path(d='M425.500857,63.653474 C425.949475,60.8709109 426.454184,58.0659454 427.015,55.2385 C427.599003,52.2941519 428.24383,49.4228473 428.9495,46.6245 C429.65517,43.8261527 430.36083,41.332011 431.0665,39.142 C431.77217,36.9519891 432.44133,35.2000066 433.074,33.886 C433.70667,32.5719934 434.266331,31.915 434.753,31.915 C435.093668,31.915 435.61683,32.0244989 436.3225,32.2435 C437.02817,32.4625011 437.73383,32.7179985 438.4395,33.01 C439.14517,33.3020015 439.765664,33.6183316 440.301,33.959 C440.836336,34.2996684 441.104,34.6159985 441.104,34.908 C441.104,35.0540007 441.055334,35.1756662 440.958,35.273 C440.763332,35.5163346 440.593001,35.7231658 440.447,35.8935 C440.300999,36.0638342 440.155001,36.2706655 440.009,36.514 C439.084329,38.1686749 438.123172,40.5533178 437.1255,43.668 C436.127828,46.7826822 435.178838,50.1528152 434.2785,53.7785 C433.378162,57.4041848 432.57517,61.0054821 431.8695,64.5825 C431.16383,68.1595179 430.640668,71.2376538 430.3,73.817 C430.202666,74.6443375 430.251332,75.1188327 430.446,75.2405 C430.640668,75.3621673 431.005664,75.155336 431.541,74.62 C432.611672,73.5006611 433.609329,72.1745077 434.534,70.6415 C435.458671,69.1084923 436.310329,67.539008 437.089,65.933 C437.867671,64.326992 438.57333,62.7453411 439.206,61.188 C439.83867,59.6306589 440.373998,58.2436728 440.812,57.027 C440.958001,56.7349985 441.152665,56.5403338 441.396,56.443 C441.639335,56.3456662 441.882665,56.3456662 442.126,56.443 C442.369335,56.5403338 442.563999,56.7106655 442.71,56.954 C442.856001,57.1973346 442.856001,57.4649985 442.71,57.757 C442.369332,58.5843375 441.931336,59.6793265 441.396,61.042 C440.860664,62.4046735 440.228004,63.8768254 439.498,65.4585 C438.767996,67.0401746 437.965004,68.633992 437.089,70.24 C436.212996,71.846008 435.288338,73.2938269 434.315,74.5835 C433.341662,75.8731731 432.344005,76.9316625 431.322,77.759 C430.299995,78.5863375 429.253672,79 428.183,79 C427.160995,79 426.382336,78.7566691 425.847,78.27 C425.311664,77.7833309 424.934501,77.1871702 424.7155,76.4815 C424.496499,75.7758298 424.387,75.0093375 424.387,74.182 C424.387,73.3546625 424.411333,72.5760037 424.46,71.846 C424.56611,70.57268 424.711983,69.2162285 424.89762,67.7766327 C422.838101,70.2361032 420.67258,72.4198731 418.401,74.328 C417.865664,76.7126786 417.269503,79.0729883 416.6125,81.409 C415.955497,83.7450117 415.213337,86.0566552 414.386,88.344 C413.558663,90.7773455 412.427174,92.7361592 410.9915,94.2205 C409.555826,95.7048408 407.402348,96.447 404.531,96.447 C403.654996,96.447 402.791171,96.2523353 401.9395,95.863 C401.087829,95.4736647 400.394336,94.8896706 399.859,94.111 C399.323664,93.3809964 398.995167,92.5901709 398.8735,91.7385 C398.751833,90.8868291 398.763999,90.0230044 398.91,89.147 C399.056001,88.2709956 399.335831,87.431504 399.7495,86.6285 C400.163169,85.825496 400.637664,85.1076698 401.173,84.475 C401.854337,83.6963294 402.608663,82.9906698 403.436,82.358 C404.263337,81.7253302 405.114996,81.1170029 405.991,80.533 C406.867004,79.9489971 407.755162,79.389336 408.6555,78.854 C409.555838,78.318664 410.395329,77.783336 411.174,77.248 C411.417335,76.177328 411.660665,75.1188386 411.904,74.0725 C412.147335,73.0261614 412.390665,71.9433389 412.634,70.824 C411.563328,73.0626779 410.35884,74.984992 409.0205,76.591 C407.68216,78.197008 406.185675,79 404.531,79 C403.849663,79 403.180503,78.8418349 402.5235,78.5255 C401.866497,78.2091651 401.294669,77.8076691 400.808,77.321 C400.321331,76.8343309 399.944168,76.2990029 399.6765,75.715 C399.408832,75.1309971 399.299333,74.571336 399.348,74.036 C399.445334,73.5493309 399.518333,73.0870022 399.567,72.649 C399.615667,72.2109978 399.664333,71.7486691 399.713,71.262 C399.79859,70.7095573 399.889777,70.154939 399.986563,69.5981445 C399.87234,69.8118796 399.756819,70.0258314 399.64,70.24 C398.763996,71.846008 397.839338,73.2938269 396.866,74.5835 C395.892662,75.8731731 394.882839,76.9316625 393.8365,77.759 C392.790161,78.5863375 391.756005,79 390.734,79 C389.46866,79 388.422337,78.598504 387.595,77.7955 C386.767663,76.992496 386.402666,76.1043382 386.5,75.131 C386.694668,73.5736589 386.950165,71.8946757 387.2665,70.094 C387.582835,68.2933243 387.959998,66.4683426 388.398,64.619 C388.836002,62.7696574 389.310497,60.9568422 389.8215,59.1805 C390.332503,57.4041578 390.855664,55.7373411 391.391,54.18 C390.563663,55.0560044 389.724171,56.1388269 388.8725,57.4285 C388.020829,58.7181731 387.181337,60.1173258 386.354,61.626 C385.526663,63.1346742 384.748004,64.691992 384.018,66.298 C383.287996,67.904008 382.631003,69.4491592 382.047,70.9335 C381.462997,72.4178408 380.988502,73.7926603 380.6235,75.058 C380.258498,76.3233397 380.051667,77.3696625 380.003,78.197 C380.003,78.5863353 379.917834,78.8174996 379.7475,78.8905 C379.577166,78.9635004 379.370335,79 379.127,79 C378.688998,79 378.202336,78.8905011 377.667,78.6715 C377.131664,78.4524989 376.632836,78.1726684 376.1705,77.832 C375.708164,77.4913316 375.318835,77.1141687 375.0025,76.7005 C374.686165,76.2868313 374.528,75.8853353 374.528,75.496 C374.646338,73.9576078 374.844603,72.3313124 375.122801,70.6170813 C374.308823,72.0734249 373.453564,73.3955531 372.557,74.5835 C371.583662,75.8731731 370.573839,76.9316625 369.5275,77.759 C368.481161,78.5863375 367.447005,79 366.425,79 C365.79233,79 365.220503,78.8540015 364.7095,78.562 C364.198497,78.2699985 363.760502,77.8806691 363.3955,77.394 C363.030498,76.9073309 362.762834,76.3720029 362.5925,75.788 C362.422166,75.2039971 362.361333,74.6200029 362.41,74.036 C362.507334,73.5493309 362.568167,73.0870022 362.5925,72.649 C362.616833,72.2109978 362.677666,71.7486691 362.775,71.262 C363.310336,67.8066494 364.064662,64.2661848 365.038,60.6405 C366.011338,57.0148152 367.13066,53.7420146 368.396,50.822 C368.688001,50.1893302 369.052998,49.873 369.491,49.873 C369.831668,49.873 370.233164,49.9459993 370.6955,50.092 C371.157836,50.2380007 371.607998,50.4204989 372.046,50.6395 C372.484002,50.8585011 372.885498,51.0896654 373.2505,51.333 C373.615502,51.5763345 373.919665,51.7953324 374.163,51.99 C374.552335,52.2820015 374.625335,52.6348313 374.382,53.0485 C374.138665,53.4621687 373.968334,53.8636647 373.871,54.253 C373.23833,55.859008 372.642169,57.5623243 372.0825,59.363 C371.522831,61.1636757 370.999669,62.9643243 370.513,64.765 C370.026331,66.5656757 369.600502,68.3054916 369.2355,69.9845 C368.870498,71.6635084 368.566335,73.1599934 368.323,74.474 C368.225666,75.009336 368.298665,75.3013331 368.542,75.35 C368.785335,75.3986669 369.052999,75.2770015 369.345,74.985 C370.464339,73.8656611 371.510662,72.5395077 372.484,71.0065 C373.457338,69.4734923 374.345496,67.8796749 375.1485,66.225 C375.728367,65.0301221 376.270162,63.8479459 376.773892,62.678453 C377.294741,60.5911089 377.872272,58.5491436 378.5065,56.5525 C379.163503,54.4841563 379.881329,52.5740088 380.66,50.822 C380.903335,50.1893302 381.243998,49.873 381.682,49.873 C382.022668,49.873 382.424164,49.9459993 382.8865,50.092 C383.348836,50.2380007 383.811164,50.4204989 384.2735,50.6395 C384.735836,50.8585011 385.149498,51.0896654 385.5145,51.333 C385.879502,51.5763345 386.183665,51.7953324 386.427,51.99 C386.816335,52.2820015 386.889335,52.6348313 386.646,53.0485 C386.402665,53.4621687 386.208001,53.8636647 386.062,54.253 C385.380663,56.0050088 384.735836,57.8786567 384.1275,59.874 C383.519164,61.8693433 382.971669,63.8646567 382.485,65.86 C383.11767,64.4486596 383.835496,62.9886742 384.6385,61.48 C385.441504,59.9713258 386.280996,58.5113404 387.157,57.1 C388.033004,55.6886596 388.921162,54.3990058 389.8215,53.231 C390.721838,52.0629942 391.609996,51.1140036 392.486,50.384 C392.826668,50.0433316 393.288997,49.873 393.873,49.873 C394.116335,49.873 394.505664,49.9459993 395.041,50.092 C395.576336,50.2380007 396.123831,50.444832 396.6835,50.7125 C397.243169,50.980168 397.729831,51.2721651 398.1435,51.5885 C398.557169,51.9048349 398.764,52.2333316 398.764,52.574 C398.764,52.8173345 398.691001,53.0849985 398.545,53.377 C398.398999,53.6690015 398.265167,53.9609985 398.1435,54.253 C398.021833,54.5450015 397.888001,54.8613316 397.742,55.202 C397.157997,56.7593411 396.610503,58.4018247 396.0995,60.1295 C395.588497,61.8571753 395.114002,63.5726581 394.676,65.276 C394.237998,66.9793418 393.836502,68.6218254 393.4715,70.2035 C393.106498,71.7851746 392.826668,73.2086603 392.632,74.474 C392.534666,75.009336 392.583332,75.3256662 392.778,75.423 C392.972668,75.5203338 393.264665,75.3743353 393.654,74.985 C394.773339,73.8656611 395.819662,72.5395077 396.793,71.0065 C397.766338,69.4734923 398.654496,67.8796749 399.4575,66.225 C400.260504,64.5703251 400.990497,62.940008 401.6475,61.334 C401.791718,60.9814676 401.931831,60.6371437 402.067841,60.3010277 C403.019563,56.8102487 404.108272,53.6506026 405.334,50.822 C405.626001,50.1893302 405.990998,49.873 406.429,49.873 C406.769668,49.873 407.171164,49.9459993 407.6335,50.092 C408.095836,50.2380007 408.545998,50.4204989 408.984,50.6395 C409.422002,50.8585011 409.823498,51.0896654 410.1885,51.333 C410.553502,51.5763345 410.857665,51.7953324 411.101,51.99 C411.490335,52.2820015 411.563335,52.6348313 411.32,53.0485 C411.076665,53.4621687 410.906334,53.8636647 410.809,54.253 C410.273664,55.6643404 409.750503,57.1608254 409.2395,58.7425 C408.728497,60.3241746 408.254002,61.917992 407.816,63.524 C407.377998,65.130008 406.976502,66.7116589 406.6115,68.269 C406.246498,69.8263411 405.918001,71.2619934 405.626,72.576 C405.431332,73.4033375 405.443499,74.0481644 405.6625,74.5105 C405.881501,74.9728356 406.209998,75.204 406.648,75.204 C407.426671,75.204 408.278329,74.5105069 409.203,73.1235 C410.127671,71.7364931 411.027996,70.0818429 411.904,68.1595 C412.780004,66.2371571 413.582996,64.2540102 414.313,62.21 C415.043004,60.1659898 415.626998,58.5113397 416.065,57.246 C416.113667,57.0513324 416.162333,56.8688342 416.211,56.6985 C416.259667,56.5281658 416.308333,56.3456676 416.357,56.151 C416.600335,55.2263287 416.880165,54.3260044 417.1965,53.45 C417.512835,52.5739956 417.865665,51.6980044 418.255,50.822 C418.498335,50.1893302 418.838998,49.873 419.277,49.873 C420.007004,49.873 420.858662,50.1284974 421.832,50.6395 C422.805338,51.1505026 423.535331,51.6006647 424.022,51.99 C424.265335,52.1846676 424.362667,52.415832 424.314,52.6835 C424.265333,52.951168 424.168001,53.2066654 424.022,53.45 C423.778665,53.9366691 423.535335,54.5449963 423.292,55.275 C422.513329,57.8543462 421.795503,60.4336538 421.1385,63.013 C420.481497,65.5923462 419.885336,68.0256552 419.35,70.313 L419.204,70.97 C421.150676,69.1693243 422.963492,67.1375113 424.6425,64.8745 C424.936451,64.478305 425.22257,64.0712965 425.500857,63.653474 Z M336.54081,63.9382782 C336.571234,63.5359171 336.60463,63.1301578 336.641,62.721 C336.835668,60.5309891 337.091165,58.2801782 337.4075,55.9685 C337.723835,53.6568218 338.100998,51.406011 338.539,49.216 C339.025669,46.8313214 339.560997,44.5926771 340.145,42.5 C340.729003,40.4073229 341.312997,38.5823411 341.897,37.025 C342.481003,35.4676589 343.052831,34.2266713 343.6125,33.302 C344.172169,32.3773287 344.646665,31.915 345.036,31.915 C345.376668,31.915 345.887663,32.0123324 346.569,32.207 C347.250337,32.4016676 347.94383,32.6571651 348.6495,32.9735 C349.35517,33.2898349 349.963497,33.6183316 350.4745,33.959 C350.985503,34.2996684 351.241,34.6159985 351.241,34.908 C351.241,35.1026676 351.107168,35.3216654 350.8395,35.565 C350.571832,35.8083345 350.340668,36.1246647 350.146,36.514 C348.977994,38.8986786 347.968171,41.5144858 347.1165,44.3615 C346.264829,47.2085142 345.547003,50.1041519 344.963,53.0485 C344.378997,55.9928481 343.928835,58.9371519 343.6125,61.8815 C343.296165,64.8258481 343.089334,67.6119869 342.992,70.24 C342.992,70.8240029 343.004167,71.3471644 343.0285,71.8095 C343.052833,72.2718356 343.150166,72.5759993 343.3205,72.722 C343.490834,72.8680007 343.721999,72.8193346 344.014,72.576 C344.306001,72.3326655 344.695331,71.8460037 345.182,71.116 C347.031343,68.3419861 348.868491,65.3490161 350.6935,62.137 C352.518509,58.9249839 354.173159,55.6400168 355.6575,52.282 C357.141841,48.9239832 358.431495,45.5538502 359.5265,42.1715 C360.621505,38.7891498 361.363665,35.5406822 361.753,32.426 C361.801667,32.0366647 361.7895,31.6716684 361.7165,31.331 C361.6435,30.9903316 361.655666,30.7713338 361.753,30.674 C361.899001,30.4306654 362.28833,30.3333331 362.921,30.382 C363.55367,30.4306669 364.259329,30.5523324 365.038,30.747 C365.816671,30.9416676 366.546663,31.172832 367.228,31.4405 C367.909337,31.708168 368.371665,31.9393324 368.615,32.134 C368.858335,32.3286676 368.931334,32.8518291 368.834,33.7035 C368.736666,34.5551709 368.493335,35.6623265 368.104,37.025 C367.276663,40.0423484 366.23034,43.2421498 364.965,46.6245 C363.69966,50.0068502 362.239675,53.3891498 360.585,56.7715 C358.930325,60.1538502 357.129676,63.475317 355.183,66.736 C353.236324,69.996683 351.192344,72.989653 349.051,75.715 C348.223663,76.785672 347.286839,77.6008305 346.2405,78.1605 C345.194161,78.7201695 344.208671,79 343.284,79 C342.505329,79 341.714504,78.8296684 340.9115,78.489 C340.108496,78.1483316 339.39067,77.7346691 338.758,77.248 C338.12533,76.7613309 337.602169,76.2625026 337.1885,75.7515 C336.774831,75.2404974 336.543667,74.7903353 336.495,74.401 C336.348999,72.794992 336.288167,70.9943433 336.3125,68.999 C336.318453,68.5108805 336.329502,68.016938 336.345648,67.5171718 C334.221676,70.0827817 331.984147,72.3530365 329.633,74.328 C329.097664,76.7126786 328.501503,79.0729883 327.8445,81.409 C327.187497,83.7450117 326.445337,86.0566552 325.618,88.344 C324.790663,90.7773455 323.659174,92.7361592 322.2235,94.2205 C320.787826,95.7048408 318.634348,96.447 315.763,96.447 C314.886996,96.447 314.023171,96.2523353 313.1715,95.863 C312.319829,95.4736647 311.626336,94.8896706 311.091,94.111 C310.555664,93.3809964 310.227167,92.5901709 310.1055,91.7385 C309.983833,90.8868291 309.995999,90.0230044 310.142,89.147 C310.288001,88.2709956 310.567831,87.431504 310.9815,86.6285 C311.395169,85.825496 311.869664,85.1076698 312.405,84.475 C313.086337,83.6963294 313.840663,82.9906698 314.668,82.358 C315.495337,81.7253302 316.346996,81.1170029 317.223,80.533 C318.099004,79.9489971 318.987162,79.389336 319.8875,78.854 C320.787838,78.318664 321.627329,77.783336 322.406,77.248 C322.649335,76.177328 322.892665,75.1188386 323.136,74.0725 C323.379335,73.0261614 323.622665,71.9433389 323.866,70.824 C322.795328,73.0626779 321.59084,74.984992 320.2525,76.591 C318.91416,78.197008 317.417675,79 315.763,79 C315.081663,79 314.412503,78.8418349 313.7555,78.5255 C313.098497,78.2091651 312.526669,77.8076691 312.04,77.321 C311.553331,76.8343309 311.176168,76.2990029 310.9085,75.715 C310.640832,75.1309971 310.531333,74.571336 310.58,74.036 C310.677334,73.5493309 310.750333,73.0870022 310.799,72.649 C310.847667,72.2109978 310.896333,71.7486691 310.945,71.262 C311.480336,67.8066494 312.234662,64.2661848 313.208,60.6405 C314.181338,57.0148152 315.30066,53.7420146 316.566,50.822 C316.858001,50.1893302 317.222998,49.873 317.661,49.873 C318.001668,49.873 318.403164,49.9459993 318.8655,50.092 C319.327836,50.2380007 319.777998,50.4204989 320.216,50.6395 C320.654002,50.8585011 321.055498,51.0896654 321.4205,51.333 C321.785502,51.5763345 322.089665,51.7953324 322.333,51.99 C322.722335,52.2820015 322.795335,52.6348313 322.552,53.0485 C322.308665,53.4621687 322.138334,53.8636647 322.041,54.253 C321.505664,55.6643404 320.982503,57.1608254 320.4715,58.7425 C319.960497,60.3241746 319.486002,61.917992 319.048,63.524 C318.609998,65.130008 318.208502,66.7116589 317.8435,68.269 C317.478498,69.8263411 317.150001,71.2619934 316.858,72.576 C316.663332,73.4033375 316.675499,74.0481644 316.8945,74.5105 C317.113501,74.9728356 317.441998,75.204 317.88,75.204 C318.658671,75.204 319.510329,74.5105069 320.435,73.1235 C321.359671,71.7364931 322.259996,70.0818429 323.136,68.1595 C324.012004,66.2371571 324.814996,64.2540102 325.545,62.21 C326.275004,60.1659898 326.858998,58.5113397 327.297,57.246 C327.345667,57.0513324 327.394333,56.8688342 327.443,56.6985 C327.491667,56.5281658 327.540333,56.3456676 327.589,56.151 C327.832335,55.2263287 328.112165,54.3260044 328.4285,53.45 C328.744835,52.5739956 329.097665,51.6980044 329.487,50.822 C329.730335,50.1893302 330.070998,49.873 330.509,49.873 C331.239004,49.873 332.090662,50.1284974 333.064,50.6395 C334.037338,51.1505026 334.767331,51.6006647 335.254,51.99 C335.497335,52.1846676 335.594667,52.415832 335.546,52.6835 C335.497333,52.951168 335.400001,53.2066654 335.254,53.45 C335.010665,53.9366691 334.767335,54.5449963 334.524,55.275 C333.745329,57.8543462 333.027503,60.4336538 332.3705,63.013 C331.713497,65.5923462 331.117336,68.0256552 330.582,70.313 L330.436,70.97 C332.382676,69.1693243 334.195492,67.1375113 335.8745,64.8745 C336.101264,64.5688614 336.323367,64.2567875 336.54081,63.9382782 Z M300.068,75.788 C300.068,73.9873243 300.213999,71.8216793 300.506,69.291 C300.798001,66.7603207 301.187331,64.0836808 301.674,61.261 C302.160669,58.4383192 302.72033,55.5791811 303.353,52.6835 C303.98567,49.7878189 304.642663,47.0503462 305.324,44.471 C302.452652,49.337691 299.885511,54.2529752 297.6225,59.217 C295.359489,64.1810248 293.20601,69.2666406 291.162,74.474 C291.064666,74.8633353 290.967334,75.1309993 290.87,75.277 C290.772666,75.6176684 290.602335,75.7150007 290.359,75.569 C290.115665,75.5203331 289.860168,75.362168 289.5925,75.0945 C289.324832,74.826832 289.069335,74.4983353 288.826,74.109 C288.485332,73.6709978 288.2785,73.2451687 288.2055,72.8315 C288.1325,72.4178313 288.047334,71.943336 287.95,71.408 C287.463331,67.2713126 287.414665,63.0738546 287.804,58.8155 C288.193335,54.5571454 288.631331,50.0433572 289.118,45.274 C288.095995,48.0480139 287.098338,51.065317 286.125,54.326 C285.151662,57.586683 284.287837,60.7621512 283.5335,63.8525 C282.779163,66.9428488 282.146503,69.7654872 281.6355,72.3205 C281.124497,74.8755128 280.844667,76.8343265 280.796,78.197 C280.796,78.732336 280.504003,79 279.92,79 C279.481998,79 278.983169,78.9026676 278.4235,78.708 C277.863831,78.5133324 277.352836,78.2456684 276.8905,77.905 C276.428164,77.5643316 276.038835,77.1871687 275.7225,76.7735 C275.406165,76.3598313 275.248,75.9583353 275.248,75.569 C275.345334,73.7683243 275.588665,71.6270124 275.978,69.145 C276.367335,66.6629876 276.866164,64.0350139 277.4745,61.261 C278.082836,58.4869861 278.764163,55.6765142 279.5185,52.8295 C280.272837,49.9824858 281.039329,47.2936793 281.818,44.763 C282.596671,42.2323207 283.375329,39.9693433 284.154,37.974 C284.932671,35.9786567 285.63833,34.445672 286.271,33.375 C286.855003,32.4016618 287.341665,31.915 287.731,31.915 C288.071668,31.915 288.59483,32.0366655 289.3005,32.28 C290.00617,32.5233346 290.71183,32.8153316 291.4175,33.156 C292.12317,33.4966684 292.731497,33.8494982 293.2425,34.2145 C293.753503,34.5795018 294.009,34.9079985 294.009,35.2 C293.960333,35.3460007 293.911667,35.4554996 293.863,35.5285 C293.814333,35.6015004 293.741334,35.7596655 293.644,36.003 C292.621995,40.9670248 291.928502,45.8579759 291.5635,50.676 C291.198498,55.4940241 291.137665,60.1173112 291.381,64.546 C293.814346,59.2413068 296.40582,54.1191914 299.1555,49.1795 C301.90518,44.2398086 304.958983,39.3610241 308.317,34.543 L308.8645,33.813 C309.083501,33.5209985 309.326832,33.2290015 309.5945,32.937 C309.862168,32.6449985 310.141999,32.4016676 310.434,32.207 C310.726001,32.0123324 310.993665,31.915 311.237,31.915 C311.577668,31.915 312.076497,32.0244989 312.7335,32.2435 C313.390503,32.4625011 314.023164,32.7179985 314.6315,33.01 C315.239836,33.3020015 315.775164,33.6183316 316.2375,33.959 C316.699836,34.2996684 316.931,34.6159985 316.931,34.908 C316.931,35.1026676 316.858001,35.2243331 316.712,35.273 C316.565999,35.5163346 316.407834,35.7231658 316.2375,35.8935 C316.067166,36.0638342 315.933334,36.2706655 315.836,36.514 C315.105996,37.8280066 314.351671,39.5921556 313.573,41.8065 C312.794329,44.0208444 312.040004,46.4784865 311.31,49.1795 C310.579996,51.8805135 309.874337,54.6909854 309.193,57.611 C308.511663,60.5310146 307.915503,63.3171534 307.4045,65.9695 C306.893497,68.6218466 306.492001,71.018656 306.2,73.16 C305.907999,75.301344 305.762,76.9559942 305.762,78.124 C305.762,78.7080029 305.470003,79 304.886,79 C304.447998,79 303.949169,78.9026676 303.3895,78.708 C302.829831,78.5133324 302.306669,78.2700015 301.82,77.978 C301.333331,77.6859985 300.919668,77.3453353 300.579,76.956 C300.238332,76.5666647 300.068,76.1773353 300.068,75.788 Z M374.163,36.733 C374.844337,35.3703265 375.428331,34.689 375.915,34.689 C376.304335,34.7376669 376.949162,34.9566647 377.8495,35.346 C378.749838,35.7353353 379.540663,36.1733309 380.222,36.66 C381.244005,37.3413367 381.341337,38.3389934 380.514,39.653 C380.173332,40.188336 379.698836,40.9183287 379.0905,41.843 C378.482164,42.7676713 377.837337,43.6679956 377.156,44.544 C376.474663,45.4200044 375.805503,46.1864967 375.1485,46.8435 C374.491497,47.5005033 373.944002,47.829 373.506,47.829 C372.483995,47.8776669 371.887834,47.4031717 371.7175,46.4055 C371.547166,45.4078283 371.607999,44.2641731 371.9,42.9745 C372.192001,41.6848269 372.581331,40.4316727 373.068,39.215 C373.554669,37.9983272 373.919665,37.1710022 374.163,36.733 Z M315.106,93.016 C315.73867,93.016 316.383497,92.7118364 317.0405,92.1035 C317.697503,91.4951636 318.269331,90.5340066 318.756,89.22 C319.194002,87.9546603 319.644164,86.5676742 320.1065,85.059 C320.568836,83.5503258 321.043331,81.9686749 321.53,80.314 C320.702663,80.8980029 319.778005,81.5184967 318.756,82.1755 C317.733995,82.8325033 316.772838,83.5746625 315.8725,84.402 C314.972162,85.2293375 314.217836,86.1296618 313.6095,87.103 C313.001164,88.0763382 312.745666,89.1469942 312.843,90.315 C312.891667,90.9476698 313.110665,91.5559971 313.5,92.14 C313.889335,92.7240029 314.424663,93.016 315.106,93.016 Z M403.874,93.016 C404.50667,93.016 405.151497,92.7118364 405.8085,92.1035 C406.465503,91.4951636 407.037331,90.5340066 407.524,89.22 C407.962002,87.9546603 408.412164,86.5676742 408.8745,85.059 C409.336836,83.5503258 409.811331,81.9686749 410.298,80.314 C409.470663,80.8980029 408.546005,81.5184967 407.524,82.1755 C406.501995,82.8325033 405.540838,83.5746625 404.6405,84.402 C403.740162,85.2293375 402.985836,86.1296618 402.3775,87.103 C401.769164,88.0763382 401.513666,89.1469942 401.611,90.315 C401.659667,90.9476698 401.878665,91.5559971 402.268,92.14 C402.657335,92.7240029 403.192663,93.016 403.874,93.016 Z')