nav.nav-bottom
    ul.nav-bottom-list
        li.nav-bottom-item
            a.nav-bottom-link.js-my-vinyl-link.active(href="#") My Vinyl
        li.nav-bottom-item
            a.nav-bottom-link.js-search-link(href="#") Search
        li.nav-bottom-item
            a.nav-bottom-link.js-wishlist-link(href="#") Wishlist
        li.nav-bottom-item
            a.nav-bottom-link.js-inactive-link(href="#") Inactive