div.vinyl-list-component.visible
    div.vinyl-list-header
        include logo.pug
        div.list-counter
            span.js-vinyl-list-counter
            span items
    ul.vinyl-list
        include list-item.pug
        +listItem({ inactiveItem: true,
                    artistName: "Nylons (the)",
                    recordName: "One Size Fits All",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Timi Yuro",
                    recordName: "All Alone Am I",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Donald Byrd",
                    recordName: "Blackjack",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Lou Rawls",
                    recordName: "Routes",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Maxine Nightingale",
                    recordName: "Right Back Where We Started From",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Hammer",
                    recordName: "Black Sheep",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Billy Cobham",
                    recordName: "Spectrum",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Eddie Shaw",
                    recordName: "King On The Road",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Manfred Mann's Earth Band",
                    recordName: "Angel Station",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Gladys Knight & The Pips",
                    recordName: "Still Together",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Rene Touzet Y Su Orchestra",
                    recordName: "Sabor Latino",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Boz Scaggs",
                    recordName: "Slow Dancer",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Timi Yuro",
                    recordName: "What’s A Matter Baby?",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Surprise Surprise",
                    recordName: "Mezzo Forte",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Randy Crawford",
                    recordName: "Secret Combination",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Peaches & Herb",
                    recordName: "2 Hot",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Grover Washington Jr.",
                    recordName: "Baddest",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Bobby Caldwell",
                    recordName: "Carry On",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "George Shearing",
                    recordName: "Continental Experience",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Mike Batt & Friends",
                    recordName: "Tarot Suite",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "29th Street Saxophone Quartet",
                    recordName: "Watch Your Step",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Arthur Blythe",
                    recordName: "Put Sunshine In It",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Chris Hinze",
                    recordName: "Bacharach Bravo",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Lou Rawls",
                    recordName: "Classics",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "George Shearing Quintet",
                    recordName: "Latin Lace",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Esther Phillips with Beck",
                    recordName: "For All We Know",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Lou Rawls",
                    recordName: "Let Me Be Good To You",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "George Shearing & Peggy Lee",
                    recordName: "The Beauty And The Beat",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Wim Overgaauw",
                    recordName: "Don’t Disturb",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Lord (the)",
                    recordName: "Fake It Don’t Break It",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Jan Akkerman",
                    recordName: "Can’t Stand Noise",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Pablo Cruise",
                    recordName: "Worlds Away",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Champaign",
                    recordName: "How Bout Us",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Singers Unlimited (the)",
                    recordName: "A Capella",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Manitas De Plata",
                    recordName: "L'Espagne De Manitas",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Los Calchakis",
                    recordName: "La Marimba Indienne",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Ella Fitzgerald",
                    recordName: "Sings The Irving Berlin Song Book",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Pia Beck",
                    recordName: "The Pia Beck Story - 16 Highlights From A Swinging Career",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Earl Klugh",
                    recordName: "Gevoelige Snaren",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Willie Rosario",
                    recordName: "The Salsa Machine",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,
                    artistName: "Manhattans (the)",
                    recordName: "Manhattans (the)",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Silver Platinum",
                    recordName: "Silver Platinum",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Rogier Van Otterloo",
                    recordName: "On The Move",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Midnight Star",
                    recordName: "Victory",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Mamas & The Papas (the)",
                    recordName: "Farewell To The First Golden Era",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Billy Ocean",
                    recordName: "Suddenly",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Billy Ocean",
                    recordName: "Get Outta My Dreams, Get Into My Car",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Willie Bobo",
                    recordName: "Bobo",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Boz Scaggs",
                    recordName: "Silk Degrees",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Massada",
                    recordName: "Astaganaga",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Natalie Cole",
                    recordName: "Everlasting",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Tidal",
                    recordName: "R U Comin",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Steve Winwood",
                    recordName: "Arc Of A Diver",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Eagles",
                    recordName: "The Greatest Hits",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "L.T.D.",
                    recordName: "Shine On",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Three Of A Kind",
                    recordName: "Three Of A Kind",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Laurindo Almeida & Charlie Byrd",
                    recordName: "Brazilian Soul",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Hi-Tension",
                    recordName: "Hi-Tension",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Gloria Gaynor",
                    recordName: "Glorious",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Kai Warner Singers & Orchestra",
                    recordName: "Happy Together",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Lena & Gabor",
                    recordName: "Lena Horne And Gabor Szabo",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Zulu Nation Part VIII",
                    recordName: "Royal Drums",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Galliano",
                    recordName: "A Thicker Plot",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Sergio Mendes",
                    recordName: "Sergio Mendes",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Zapp",
                    recordName: "Zapp II",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Camel",
                    recordName: "Mirage",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "B.B. & Q. Band",
                    recordName: "The Brooklyn, Bronx & Queens Band",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Deodato",
                    recordName: "The Best Of Deodato",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Pink Floyd",
                    recordName: "The Dark Side Of The Moon",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Progress",
                    recordName: "Busy Making Progress",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Floaters (the)",
                    recordName: "The Floaters",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Rima",
                    recordName: "Subdued",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Dr. Buzzard's Original Savannah Band",
                    recordName: "Dr. Buzzard's Original Savannah Band",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Deep Purple",
                    recordName: "Burn",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Gene Krupa, Louis Bellson, Art Blakey, Kenny Clarke",
                    recordName: "Kings Of Drums",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Foreigner",
                    recordName: "Agent Provocateur",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Brand X",
                    recordName: "Masques",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Astrud Gilberto",
                    recordName: "The Best Of Astrud Gilberto Vol. 2",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Vikki Carr",
                    recordName: "The Vikki Carr Story",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Vikki Carr",
                    recordName: "The Best Of Vikki Carr",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "John Denver",
                    recordName: "John Denver's Greatest Hits",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Ritchie Family (the)",
                    recordName: "Brazil",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Lynn White",
                    recordName: "That's How Strong My Love Is",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Chaka Khan",
                    recordName: "What Cha' Gonna Do For Me",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Jean Michel Jarre",
                    recordName: "Equinoxe",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Shabaam Sahdeeq",
                    recordName: "Sound Clash",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "bina Shok",
                    recordName: "Obina Shok",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Maynard Ferguson",
                    recordName: "Hollywood",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Stan Getz & Charlie Byrd",
                    recordName: "Jazz Samba",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Alan Parsons Project (the)",
                    recordName: "I Robot",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "General Johnson",
                    recordName: "General Johnson",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Dazz Band",
                    recordName: "Joystick",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Eddie Kendricks",
                    recordName: "For You",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Moods",
                    recordName: "Sincere EP",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Tyrone Johnson",
                    recordName: "The Smurf",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Santana",
                    recordName: "Amigos",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Change",
                    recordName: "Turn On Your Radio",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Chaka Khan",
                    recordName: "I Feel For You",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Groovy Soul Orchestra Vol. 1 (the)",
                    recordName: "Movin' And Groovin'",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Mongo Santamaria",
                    recordName: "The Watermelon Man",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Peter Frampton",
                    recordName: "Frampton Comes Alive!",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Talking Heads",
                    recordName: "Speaking In Tongues",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Queen",
                    recordName: "A Night At The Opera",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Genesis",
                    recordName: "Abacab",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Phil Collins",
                    recordName: "Hello, I Must Be Going",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "George Benson",
                    recordName: "In Flight",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Frank Sinatra",
                    recordName: "His Best Years",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Lapalux",
                    recordName: "Some Other Time",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Lalo Schifrin",
                    recordName: "Black Widow",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Kool & The Gang",
                    recordName: "At Their Best",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Skyyjammer",
                    recordName: "Skyy",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Dazz Band",
                    recordName: "Keep It Live",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Al Hirt",
                    recordName: "In Love With You",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Patrice Rushen",
                    recordName: "Anthology Of Patrice Rushen",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Stylistics (the)",
                    recordName: "Fabulous",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Slynk",
                    recordName: "Ghetto Funk Presents Slynk",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Dynasty",
                    recordName: "Out Of Control",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Kate Bush",
                    recordName: "Lionheart",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Hollywood Bowl Symphony Orchestra",
                    recordName: "Echoes Of Spain",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Doc Severinsen & Strings",
                    recordName: "Doc Severinsen & Strings",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "lla Fly",
                    recordName: "Killa Fly",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Neil Young",
                    recordName: "Harvest",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Wynton Marsalis, Tomasi, Jolivet, Philarmonia Orchestra",
                    recordName: "Wynton Marsalis, Tomasi, Jolivet, Philarmonia Orchestra",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Steve Miller Band (the)",
                    recordName: "Brave New World",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Orchestre Claudius Alzner",
                    recordName: "El Cumbanchero",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Various",
                    recordName: "Hifi-Stereo-Festival - Happy South-America",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Various",
                    recordName: "The Capitol T Album",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Rubén Blades",
                    recordName: "Y Seis Del Solar",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Los Comuneros",
                    recordName: "Los Comuneros",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Edmundo Ros and his Orchestra",
                    recordName: "Latin Festival",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Mahalia Jackson",
                    recordName: "The World's Greatest Gospel Singer",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Paul Robeson",
                    recordName: "Paul Robeson",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Kraak & Smaak",
                    recordName: "Juicy Fruit",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Meat Loaf",
                    recordName: "Bat Out Of Hell",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "T-Connection",
                    recordName: "The Game Of Life",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Unity Sextet (the)",
                    recordName: "Unity Sextet (the)",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Coldplay",
                    recordName: "A Head Full Of Dreams",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Tommy",
                    recordName: "The Who",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Rose Max",
                    recordName: "Palco",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Smokey Robinson",
                    recordName: "Blame It On Love & All The Great Hits",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "S-Type",
                    recordName: "Billboard",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Rolling Stones (the)",
                    recordName: "Stones Story",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Scott & Gibb",
                    recordName: "Blockage In The System",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Alex Neri",
                    recordName: "Planet Funk 2",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "South Central / Good Together",
                    recordName: "Strictly 4 Groovers",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "SoundFactory",
                    recordName: "Understand This Groove",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Various",
                    recordName: "Hit Explosion Vol. 3",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Various",
                    recordName: "Hit Explosion Vol. 7",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Various",
                    recordName: "Hits Revival",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "George Benson / Earl Klugh",
                    recordName: "Collaboration",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Donna Hightower",
                    recordName: "Donna Hightower",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Esther Ofarim",
                    recordName: "Esther Ofarim",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "u",
                    recordName: "Klaatu",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Supersax",
                    recordName: "Chasin' The Bird",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Charles Earland",
                    recordName: "Soul Story",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Various",
                    recordName: "It All Started Here (Atlantic)",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Rasa",
                    recordName: "Everything You See Is Me",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Earl Klugh",
                    recordName: "Low Ride",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "George Shearing",
                    recordName: "I Hear Music",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Wim Overgaauw",
                    recordName: "Sagittarius",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Timi Yuro",
                    recordName: "I'm Yours",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Los Machucambos",
                    recordName: "Mucho Gusto",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Joaquin Rodrigo, Pepe Romero",
                    recordName: "Guitar • Gitarre",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Edmundo Ros and his Orchestra",
                    recordName: "The World Of Edmundo Ros",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Edmundo Ros and his Orchestra",
                    recordName: "Perfect For Dancing",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Earl Klugh",
                    recordName: "Wishful Thinking",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "James Last Band",
                    recordName: "Sax A Gogo",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Edmundo Ros and his Orchestra",
                    recordName: "A Latin Night With Edmundo Ros and his Orchestra",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Pim Jacobs, Rogier Van Otterloo",
                    recordName: "Music-All-In",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "André Moss",
                    recordName: "Ella",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Joan Armatrading",
                    recordName: "Show Some Emotion",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Herb Alpert & The Tijuana Brass",
                    recordName: "40 Greatest",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Carmen McRae / Joe Pass / Larry Bunker / Ray Brown",
                    recordName: "I Giganti Del Jazz Vol. 21",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ inactiveItem: true,        
                    artistName: "Louis Bordon en zijn Brasilianos",
                    recordName: "Fiesta 2",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Perez Prado And His Orchestra",
                    recordName: "The Best Of Perez Prado",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Banda Taurina",
                    recordName: "¡Bullring! Music Of The Bull Fight Ring, La Fiesta Brava, Vol. 4",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Latin American Rhythm Dancers",
                    recordName: "Viva America Latina",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Cafe Latino feat. Extra Caliente",
                    recordName: "Extra Caliente",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Miriam Makeba",
                    recordName: "Pata Pata",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Aceyalone",
                    recordName: "Mic Check",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Beatmasters (the) Featuring The Cookie Crew",
                    recordName: "Rok Da House",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Various",
                    recordName: "The Complete Reggae Music Album",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Pete Carr",
                    recordName: "Multiple Flash",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })
        +listItem({ artistName: "Kay Gardner",
                    recordName: "Moon Circles",
                    artworkImage: "https://via.placeholder.com/400x400/000000/FFFFFF/?text=MyVinyl" })