@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

// color definitions
$color-gray-b: #e2e2e2;
$color-gray-c: #1a1a1a;
$color-gray-d: #505050;
$color-list-item: #1c0f2b;

* {
    box-sizing: border-box;
}

:root {
    --color-main-theme: rgb(55, 96, 81);
}

body {
    background: #f7f7f7;
	font-family: "Roboto", sans-serif, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;

	&.js-body-artwork {        
		.list-item {
			pointer-events: none;

			&.js-artwork-active {
				pointer-events: auto;
			}
		}
	}
}

main {
	padding: 73px 0 48px 0;
}

h1 {
    color: var(--color-main-theme);
	font-size: 40px;
	font-weight: 100;
	line-height: 48px;
	margin: 0;
	padding: 12px 120px 12px 16px;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

/******* COMPONENTS *******/
@import "./components/nav-bottom";
@import "./components/search";
@import "./components/vinyl-list";
@import "./components/wishlist";
@import "./components/inactive-list";
@import "./components/list-item";